
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
* {
    box-sizing: border-box;
}

body{
  
    min-height: 100vh;
    background-color: antiquewhite;
    font-family: "Poppins" ;
}

.body-container{
    color: black;
    font-family: "Exo" ;
    align-items: left;
    line-height: 3;
}

.headline{
    font-size: 5rem;
    text-align: center;
   
}

.questions{
  
    font-size: 1.5rem;
    margin-left: 700px;
    margin-right: 500px;
   
}
